@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

button:hover{
    background-color: #2759aa;
    color: rgb(204, 204, 204);
    border-color: rgb(204, 204, 204);
}

button {
    width: 120px;
    height: 40px;

    border-style: none;
    border-radius: 8px;

    color: white;
    background-color: #3882F6;

    font-size: 16px;
    font-weight: bolder;

    flex: none;
}

.call-action > button {
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

a {
    color: rgb(199, 199, 199);
    text-decoration: none;
    text-align: center;
    
}

a:hover {
    color: white;
    font-size: 17px;
}

.menu-container,
.header-container,
.footer-container {
    display: flex;
    justify-content: center;

    background-color: #1F2937;
    color: white;  
}

.header-container {
    height: 400px;
}

.main-content-container{ 
    display: flex;
    flex-direction: column;
}

.footer-container {
    align-content: flex-end;
}

.menu {
    width: 900px;   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.menu-links {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;

    margin-left: auto;
    gap: 16px
}

.header-content {
    display: flex;
    margin: auto;

    width: 900px;
    height: 250px;
}

.img-header {
    width: 400px;
    height: 250px;
}

.welcome {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 250px;
    margin-right: auto;


}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color:  #F9FAF8;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding-top: 12px;
    flex: 1;
}

.info {
    text-align: center;
    padding: 52px;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-content {
    display: flex;

    gap: 32px;
}

.quote {
    background-color: #E5E7EB;
    height: 250px;

    padding: 24px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #3d3d3d;
}

.call-action {
    align-self: center;
    background-color: #3882F6;
    color: white;

    width: 750px;
    height: 150px;
    
    margin: 52px;

    border-radius: 12px;
}

.img-info {
    border: 8px solid #3882F6;
    border-radius: 18px;
    height: 200px;
    width: 200px;
}